<div class="p-flex-row p-justify-center p-text-center p-pt-6">
  <h2>
    Kao eGrađanin, na ovom portalu možete izvršiti podnošenje zahteva i pregled dokumenata
  </h2>
  <h4 class="p-mt-5 p-mb-6">Izaberite jednu od željenih opcija</h4>
  <button class="p-button-text"
          label="Podnošenje žalbe na ćutanje"
          [routerLink]="'izbor-neodgovorenih-zahteva'"
          pButton
  ></button>
  <button class="p-button-text"
          label="Podnošenje žalbe na odluku"
          [routerLink]="'izbor-odbijenih-zahteva'"
          pButton
  ></button>
  <button class="p-button-text"
          label="Pregled podnetih žalbi na ćutanje"
          [routerLink]="'pregled-zalbi-cutanje'"
          pButton
  ></button>
  <button class="p-button-text"
          label="Pregled podnetih žalbi na odluku"
          [routerLink]="'pregled-zalbi-na-odluku'"
          pButton
  ></button>
  <button class="p-button-text"
          label="Pregled donetih rešenja"
          [routerLink]="'pregled-resenja'"
          pButton
  ></button>


  <h6 class="p-mt-4">Ove opcije možete birati i iz navigacionog menija</h6>
  <div class="p-text-right p-text-italic p-text-light">
    <h5 class="p-mr-6">Srdačan pozdrav</h5>
  </div>
</div>
