<div class="p-grid p-mx-0 p-justify-center centered-grid">
  <div class="p-col-12 p-sm-9 p-md-6 p-lg-4">
    <div class="p-text-center">
      <h1 *ngIf="tip === 'neodgovoren'; else odbijen">Žalba zbog ćutanja</h1>
      <ng-template #odbijen><h1>Žalba na odluku</h1></ng-template>
    </div>
    <p-card class="login-card">
      <div class="p-card-header">
        <div class="p-d-flex p-justify-center">
          <h4 class="p-mt-1 p-mb-3 p-text-light">Izaberite zahtev u vezi kojeg podnosite žalbu</h4>
        </div>
      </div>
      <div class="p-text-center">

        <div class="p-text-left" *ngIf="!loading; else loadingZahtevi">
          <p-dropdown [style]="{width: '100%'}"
                      [options]="neodgovoreniZahtevi"
                      placeholder="Zahtevi"
                      optionLabel="opis-zahteva"
                      [(ngModel)]="izabranZahtev">
            <ng-template let-zahtev pTemplate="item">
              {{zahtev['opis-zahteva']._text}} od {{zahtev.datum._text}}
            </ng-template>
            <ng-template pTemplate="selectedItem">
              <div class="p-text-bold"
                   *ngIf="!!izabranZahtev">
                {{izabranZahtev['opis-zahteva']._text}} od {{izabranZahtev.datum._text}}
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <ng-template #loadingZahtevi>
          <p-progressSpinner></p-progressSpinner>
        </ng-template>
      </div>
      <div class="p-card-footer">
        <button class="p-d-flex p-button-success p-ml-auto" (click)="zahtevIzabran()" label="Izaberi" pButton></button>
      </div>
    </p-card>
  </div>
</div>
