<!--<div class="p-mx-6">-->
<!--  <p-table [value]="obavestenjeService.obavestenja" [loading]="loading">-->
<!--    <ng-template pTemplate="header">-->
<!--      <tr>-->
<!--        <th>Opis</th>-->
<!--        <th>XHTML</th>-->
<!--        <th>PDF</th>-->
<!--        <th>Zahtev</th>-->
<!--        <th></th>-->
<!--      </tr>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="body" let-obavestenje>-->
<!--      <tr>-->
<!--        <td>{{obavestenje['opis']._text}}</td>-->
<!--        <td>-->
<!--          <button class="p-button"-->
<!--                  label="XHTML"-->
<!--                  (click)="generateXHTML(obavestenje)"-->
<!--                  pButton-->
<!--          ></button>-->
<!--        </td>-->
<!--        <td>-->
<!--          <button class="p-button"-->
<!--                  label="PDF"-->
<!--                  (click)="generatePdf(obavestenje)"-->
<!--                  pButton-->
<!--          ></button>-->
<!--        </td>-->
<!--        <td>-->
<!--          <button class="p-button-secondary"-->
<!--                  label="Zahtev"-->
<!--                  (click)="pregledajZahtev(obavestenje.zahtev._attributes.id)"-->
<!--                  pButton-->
<!--          ></button>-->
<!--        </td>-->
<!--        <td>-->
<!--          <button class="p-button-secondary"-->
<!--                  label="Detaljno"-->
<!--                  (click)="pregledajObavestenje(obavestenje._attributes.id)"-->
<!--                  pButton-->
<!--          ></button>-->
<!--        </td>-->
<!--      </tr>-->
<!--    </ng-template>-->
<!--    <ng-template pTemplate="emptymessage">-->
<!--      <tr>-->
<!--        <td [attr.colspan]="5">-->
<!--          Nema obaveštenja...-->
<!--        </td>-->
<!--      </tr>-->
<!--    </ng-template>-->
<!--  </p-table>-->
<!--</div>-->
