<div class="p-flex-row p-justify-center p-text-center p-pt-6">
  <h3>
    Kao Poverenik, na ovom portalu možete izvršiti rešavanje nerešene žalbe, pregled istorije žalbi i pretragu dokumenata
  </h3>
  <h4 class="p-mt-5 p-mb-6">Izaberite jednu od željenih opcija</h4>
  <button class="p-button-text"
          label="Rešavanje žalbi"
          [routerLink]="'/resavanje-zalbi'"
          pButton
  ></button>
  <button class="p-button-text"
          label="Pregled svih žalbi"
          [routerLink]="'/sve-zalbe'"
          pButton
  ></button>
  <button class="p-button-text"
          label="Pregled svih rešenja"
          [routerLink]="'/sva-resenja'"
          pButton
  ></button>
  <button class="p-button-text"
          label="Pregled i pretraga dokumenata"
          [routerLink]="'/pretraga'"
          pButton
  ></button>
  <h6 class="p-mt-4">Ove opcije možete birati i iz navigacionog menija</h6>
</div>
